@import 'variable'
@import 'normalize'
@import 'libs'

*,
*:before,
*:after
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

.clearfix:before,
.clearfix:after
	content: ''
	display: table
.clearfix:after 
	clear: both
.clearfix
	zoom: 1 /* For IE 6/7 hasLayout */

@mixin clearfix
	zoom: 1
	&:before,
	&:after
		content: ''
		display: table
	&:after
		clear: both

@mixin container
	width: 320px
	margin: 0 auto
	@media (min-width: 768px)
		width: 640px
	@media (min-width: 1200px)
		width: 960px


html, body
	height: 100%

body
	margin: 0
	padding: 0
	height: 100%
	min-width: 320px
	font-family: $main-font
	font-size: 18px
	line-height: 27px
	font-weight: normal
	background-color: $bg-dark
	color: #f7f4f1

img
	max-width: 100%
	height: auto

/* Buttons */
.btn
	display: block
	width: 280px
	margin: auto
	color: #000
	font-weight: 700
	text-align: center
	text-transform: uppercase
	text-decoration: none

.slider__input
	display: none


// IMPORT FILES
@import 'blocks/header'
@import 'blocks/stats'
@import 'blocks/advantages'
@import 'blocks/news'